{% extends template.self %}

{% block page %}

{% if hungry %}
<div id="vip-container">
    {{ page.content|safe }}
</div>
{% else %}
    {{ page.content|safe }}
{% endif %}

{% endblock %}

{% block javascript %}
{{ super() }}
<script src="https://my.openwrite.cn/js/readmore.js" type="text/javascript"></script>
<script>
    let isMobile = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
  if (!isMobile) {
    // 如果不是移动设备则使用 readmore
    const btw = new BTW();
    btw.init({
      // ...
    })
  }

  const btw = new BTWPlugin();
    btw.init({
        "id": "vip-container",
        "blogId": "{{ config.pluginsConfig.openwrite.blogId }}",
        "name": "{{ config.pluginsConfig.openwrite.name }}",
        "qrcode": "{{ config.pluginsConfig.openwrite.qrcode }}",
        "keyword": "{{ config.pluginsConfig.openwrite.keyword }}"
    });

    
</script>
{% endblock %}
